* {
    box-sizing: border-box;
}

.header-top {
    display: flex;
    justify-content: flex-end;
    background-color: darkcyan;
}
.cate_list{
    text-align: center;
    border: 10px whitesmoke solid;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    padding: 25px;
}

.articles {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.article {
    width: 33.33%;
}

.article-img {
    width: 100%;
    padding: 10%;
}

.article-single {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.message-success {
    background-color: green;
}

.message-error {
    background-color: red;
}
.form-group{
    margin-top: 50px;
    width: 80vw;
    margin-left: 50px;
    padding: 15px;

}

@media screen and (max-width: 640px) {

    .articles {
        display: block;
    }

    .article {
        width: 100%;
    }
}