{% extends 'base.html.twig' %}

{% block main %}

    <form action="{{ path('admin_insert_category') }}" method="get">

        <label for="title">Titre</label>
        <input type="text" name="title">

        <label for="color">La couleur</label>
        <input type="text" name="color">

        <input type="submit">

    </form>

{% endblock %}