{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block main %}

    {% if article.isPublished %}
        <article class="article-single">
            <h1>{{ article.title }}</h1>
            <p>{{ article.content }}</p>
            <li class="nav-item"><a class="nav-link" href="{{ path('admin_articles',{'id':article.id}) }}">La liste des articles</a></li>

        </article>
    {% endif %}

{% endblock %}

{% block footer %}
    <p>Les refs seuls maggle</p>
{% endblock %}