<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    <title>Les ref</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>

<header class="header-top">
    <ul class="nav-items">
        <li><a href="{{ path ('home')}}">Accueil</a></li>
        <li><a href="{{ path ('admin_articles')}}">Liste des articles</a></li>
        <li><a href="{{ path ('admin_categories')}}">Liste des categories</a></li>
    </ul>
</header>

<main>

    {% block main %}
    {% endblock %}

</main>
<footer>
{% block footer %}

    Je suis le footer!
    {% endblock %}
</footer>

</body>
</html>