{% extends 'base.html.twig' %}


{% block title %}
    <title>Bienvenue chez vous </title>
{% endblock %}


{% block main %}
    <section class="articles">
        {% for article in lastArticles %}

            {% if article.isPublished %}
                <article class="article">
                    <h1>{{ article.title }}</h1>
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_articles',{'id':article.id}) }}">La liste des articles</a></li>

                </article>
            {% endif %}

        {% endfor %}
    </section>
{% endblock %}

{% block footer %}
    <p>La page d'acceuil</p>
{% endblock %}