{% extends 'base.html.twig' %}

{% block title %}
    <title>La liste des articles</title>
{% endblock %}


{% block main %}

    <section class="articles">

        {% for article in articles %}

            {% if article.isPublished %}
                <article class="article">
                    <img class="article-img" src="{{ article.image }}" alt="{{ article.title }}">
                    <h1>{{ article.title }}</h1>
                    <a href="{{ path('show_article', {'id': article.id }) }}">Clique j't'ai dit</a>
                </article>
            {% endif %}

        {% endfor %}
    </section>

{% endblock %}

{% block footer %}
    <p>La liste des refs maggle</p>
{% endblock %}