{% extends 'base.html.twig' %}

{% block title %}
    <title>La liste des articles</title>
{% endblock %}


{% block main %}

    <section class="articles">

        {% for article in articles %}

            {% if article.isPublished %}
                <article class="article">
                    <h1>{{ article.title }}</h1>
                    <p>{{ article.content }}</p>
                    <li class="nav-item"><a class="nav-link" href="{{ path('admin_article') }}">En savoir plus sur la qualité</a></li>

                </article>
            {% endif %}

        {% endfor %}
    </section>

{% endblock %}

{% block footer %}
    <p>La liste des refs maggle</p>
{% endblock %}