{% include '_header.html.twig' %}



{% for article in articles %}
{% if article.isPublished %}
<article>
    <h1>{{ article.title }}</h1>
    <img src="{{ article.image }}" alt="image">
    <p>{{ article.publishedAt | date('d-m-y')}}</p>
    <a class="btn" href="{{ path('article', {'id': article.id}) }}"> En savoir plus </a>
</article>
{% endif %}
{% endfor %}



    {% include '_footer.html.twig' %}